.Badge {
  background-color: #d5dfe5;
  background-size: cover;
  line-height: 1;
}

.Badge--image {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.Badge--large {
  padding: 6px;
  font-size: 20px;
  width: 20px;
}

.Badge--medium {
  padding: 4px;
  font-size: 15px;
  width: 15px;
}

.Badge--small {
  padding: 2px;
  font-size: 10px;
  width: 10px;
}

.Badge--blue {
  background: #8edce6;
}

.Badge--red {
  background: #f87060;
}

.Badge--purple {
  background: #c7abff;
}

.Badge--yellow {
  background: #ffe17e;
}

.Badge--green {
  background: #b5e6a1;
}

.Badge--pink {
  background: #ff84cd;
}

.Badge--circle {
  border-radius: 50%;
}
.Badge--square {
  border-radius: 10%;
}

/* The clipboard icon is offset, so we have to counteroffset manually. */
.Badge .fa.fa-clipboard:before {
  display: inline-block;
  transform: translate(2%, -3%);
}
