.Badge {
  cursor: pointer;
  background-color: #d5dfe5;
}

.Badge--large {
  padding: 8px;
  font-size: 24px;
}

.Badge--medium {
  padding: 4px;
  font-size: 12px;
}

.Badge--small {
  padding: 1px;
  font-size: 8px;
}

.Badge--blue {
  background: #8edce6;
}

.Badge--red {
  background: #f87060;
}

.Badge--purple {
  background: #c7abff;
}

.Badge--yellow {
  background: #ffe17e;
}

.Badge--green {
  background: #b5e6a1;
}

.Badge--pink {
  background: #ff84cd;
}

.Badge--circle {
  border-radius: 50%;
}
.Badge--square {
  border-radius: 10%;
}

/* The clipboard icon is offset, so we have to counteroffset manually. */
.Badge.fa.fa-clipboard:before {
  display: inline-block;
  transform: translate(2.5%, -3%);
}