.CenteredStack {
  display: flex;
  align-items: center;
  width: 100%;
}

.CenteredStack--centerText {
  text-align: center;
}

.CenteredStack--column {
  flex-direction: column;
}

.CenteredStack--row {
  flex-direction: row;
}
