.QuillContent {
  background-color: white;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  outline: 0;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
}

.ql-editor {
  outline: 0;
  min-height: 100%;
  cursor: text;
}

.ql-clipboard {
  left: -100000px;
  height: 1px;
  overflow-y: hidden;
  position: absolute;
  top: 50%;
}
