{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "__static": true
  },
  "parser": "babel-eslint",
  "rules": {
    "semi": ["error", "never"],
    "no-mixed-operators": "off",
    "class-methods-use-this": "off",
    "no-unused-vars": ["error", { "args": "none"} ],
    "comma-dangle": "off",
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [2, { "ignore": ["electron"] }],
    "linebreak-style": 0,
    "lines-between-class-members": "off",
    "react/prefer-stateless-function": 0,
    "react/sort-comp": "off",
    "arrow-parens": "off",
    "implicit-arrow-linebreak": "off",
    "no-use-before-define": "off",
    "no-shadow": "off",
    "react/prop-types": [2, {"ignore": "style"}],
    "react/no-did-mount-set-state": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line": "off",
    "no-param-reassign": "off",
    "object-curly-newline": "off",
    "curly": ["error", "all"],
    "no-underscore-dangle": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/interactive-supports-focus": "off",
    "jsx-a11y/no-noninteractive-tabindex": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-autofocus": "off"
  }
}
