{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "__static": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "semi": ["error", "never"],
    "no-mixed-operators": "off",
    "class-methods-use-this": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ],
    "comma-dangle": "off",
    "default-case": "off",
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": "off",
    "import/export": "off",
    "import/no-unresolved": [
      2,
      {
        "ignore": ["electron"]
      }
    ],
    "linebreak-style": 0,
    "lines-between-class-members": "off",
    "react/prefer-stateless-function": 0,
    "react/sort-comp": "off",
    "arrow-parens": "off",
    "implicit-arrow-linebreak": "off",
    "no-use-before-define": "off",
    "no-shadow": "off",
    "react/no-did-mount-set-state": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line": "off",
    "no-param-reassign": "off",
    "object-curly-newline": "off",
    "curly": ["error", "all"],
    "no-underscore-dangle": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/interactive-supports-focus": "off",
    "jsx-a11y/no-noninteractive-tabindex": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-autofocus": "off",
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true
      }
    ],
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "import/no-cycle": "off"
  }
}
