.BoardCard {
  border-top: 0;
  max-height: 100%;
  max-width: 100%;
  min-width: 20px;
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  user-select: none;
}

.BoardCard:focus,
.BoardCard:active {
  outline: none;
}

/* Adding specificity to match behavior of this rule override the .BoardCard:focus rule
 * above
 */
.BoardCard.BoardCard--selected {
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.25);
  outline: solid 2px var(--highlight-color, var(--colorBlueBlack));
  z-index: 2;
}

.BoardCard--text {
  /* use an inset box-shadow to avoid the mitering of corners with normal borders */
  min-width: 48px;
  max-width: 481px;
}

.BoardCard--image {
  padding: 12px;
  box-sizing: border-box;
  background: white;
  border: solid 1px var(--colorPaleGrey);
}

.BoardCard-resizeHandle {
  position: absolute;
  width: 16px;
  height: 16px;
  bottom: 1px;
  right: 1px;
  background: url('../../images/corner.svg');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-origin: content-box;
  cursor: se-resize;
  visibility: hidden;
}

.BoardCard:hover .BoardCard-resizeHandle {
  visibility: visible;
}

/* XXX: hack to match legacy behavior */
.BoardCard .Image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}
