.BoardInBoard-caption {
  color: var(--colorSecondaryGrey);
  margin-top: 2px;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.BoardInBoard {
  box-sizing: border-box;
  border: 1px solid var(--colorPaleGrey);
  overflow: hidden;
  padding: 10px;
  background-color: white;
  width: 100%;
}
