.Omnibox .ListMenu {
  color: var(--colorBlueBlack);
}

.Omnibox .ListMenu__item .Actions {
  visibility: hidden;
}

.Omnibox .ListMenu__item--selected .Actions {
  visibility: visible;
}

.Invitation {
  display: flex;
  align-items: center;
}

.Invitation__body {
  margin-left: 10px;
}

.Omnibox-nothingFound {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 24px;
}

.Omnibox-nothingFoundBadge {
  flex: none;
  margin-right: 8px;
}
