.Authors {
  display: flex;
  align-items: center;
  padding: 0 4px;
}

.Authors > * {
  padding-right: 4px;
}
.Authors > * > .Avatar {
  width: 28px;
  height: 28px;
}

.Authors .Avatar:hover::after {
  display: block;
  position: absolute;
  /* border: 2px solid var(--highlight-color, var(--colorOnline)); */
  white-space: nowrap;
  max-width: 204px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  padding: 2px 4px;
  background-color: white;
  border-radius: 4px;
  content: attr(data-name);
  top: 36px;
  font-size: 12px;
  line-height: 16px;
  color: var(--colorBlueBlack)
}
