.Author {
  position: relative;
  margin-right: 4px;
}

/** TODO: have avatar fill available height and width, rather than reaching across
 * component boundaries like this.
 */
.Author .Avatar {
  width: 28px;
  height: 28px;
}
