.Device--online {
  color: white;
}

.DeviceListItem {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 4px;
}

.DeviceListItem--online {
  color: white;
}

.DeviceListItem-title {
  margin-left: 10px;
  -webkit-user-drag: none;
  user-select: none;
}
