.Device, .DeviceListItem {
  --online-color: #33ab77;
  --offline-color: lightgray;
}

.Device--online {
  color: white;
}

.Device--online .Badge {
  background-color: var(--online-color);
}

.Device--offline > .Badge {
  background-color: var(--offline-color);
}

.DeviceListItem {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 4px;
}

.DeviceListItem--online {
  color: white;
}

.DeviceListItem-title {
  margin-left: 10px;
  -webkit-user-drag: none;
  user-select: none;
}
