.Omnibox {
  border-radius: 4px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.2);
  width: 478px;
  z-index: 10;
  position: fixed;
  top: 52px;
  left: 12px;
  display: flex;
  flex-direction: column;
}

.Omnibox--header {
  display: flex;
  flex-direction: row;
}

.Omnibox--input {
  font-size: 18px;
  color: var(--colorBlueBlack);
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  background: var(--colorInputGrey);
  border: 0px;
  outline: none;
  border-radius: 4px;
  margin: 4px;
  height: 32px;
  line-height: 24px;
}

.Omnibox--Workspace {
  padding: 4px;
}

.Omnibox--header > input {
  flex: 1;
}

.Omnibox .ListMenu__item .Actions {
  visibility: hidden;
}

.Omnibox .ListMenu__item--selected .Actions {
  visibility: visible;
}

.Invitation {
  display: flex;
  align-items: center;
}

.Invitation__body {
  margin-left: 10px;
}

.Omnibox-nothingFound {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 24px;
}

.Omnibox-nothingFoundBadge {
  flex: none;
  margin-right: 8px;
}
