.TitleBar {
  display: flex;
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  height: 40px;
  padding: 0px 8px 0px 8px;
  width: 100%;
  align-items: center;
  align-content: space-between;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  z-index: 3;
  user-select: none;
  background-color: white;
}

.TitleBar-overlay {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 40px;
  background-color: var(--workspace-color);
  opacity: 0.1;
  z-index: -1;
}

button[disabled].TitleBar-menuItem .fa {
  color: #ccc;
}

.TitleBar-center {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.TitleBar-right,
.TitleBar-left {
  align-items: center;
  display: flex;
  height: 40px;
}

.TitleBar-menuItem {
  font-size: 24px;
  color: var(--colorSecondaryGrey);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background: none;
  margin: none;
  border: none;
  outline: none;
}

.TitleBar-menuItem:active,
.TitleBar-menuItem:focus {
  outline: none;
}

.TitleBar-menuItem:hover {
  color: var(--colorBlueBlack);
}

.TitleBar-right .dropdown__trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.TitleBar-right .dropdown.dropdown--active {
  background-color: var(--colorInputGrey);
}

.TitleBar-right .dropdown__content {
  top: 48px;
  right: 0px;
}

.TitleBar-left .dropdown__content {
  left: 0px;
  top: 48px;
}

.TitleBar-logo {
  margin-right: 8px;
}

.TitleBar-self {
  padding-left: 4px;
}

@keyframes color-flash {
  from {
    color: transparent;
  }

  to {
    color: var(--colorSecondaryGrey);
  }
}
