.TitleBar {
  display: flex;
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  align-items: center;
  align-content: space-between;
  z-index: 3;
  user-select: none;
  margin: 0 8px;
  right: 0;
  left: 0;
}

button[disabled].TitleBar-menuItem .fa {
  color: #ccc;
}

.TitleBar-controls {
  position: fixed;
  bottom: 40px;
  display: flex;
  left: 0;
  right: 0;
}

.TitleBar-controls-inner {
  background-color: white;
  border-radius: 999px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  margin: auto;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.TitleBar-section {
  background-color: white;
  border-radius: 999px;
  display: flex;
  margin: 8px auto;
  height: 40px;
  align-items: center;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  padding: 0 6px;
}

.TitleBar-section.left {
  margin-left: 0;
}

.TitleBar-section.right {
  margin-right: 0;
}

.TitleBar-center {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.TitleBar-right,
.TitleBar-left {
  align-items: center;
  display: flex;
  height: 40px;
}

.TitleBar-menuItem {
  font-size: 24px;
  color: var(--colorSecondaryGrey);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background: none;
  margin: none;
  border: none;
  outline: none;
  position: relative;
}

.TitleBar-menuItem:active,
.TitleBar-menuItem:focus {
  outline: none;
}

.TitleBar-menuItem:hover {
  color: var(--colorBlueBlack);
}

.TitleBar-self {
  padding-right: 8px;
  border-right: 1px solid var(--colorPaleGrey);
}

@keyframes color-flash {
  from {
    color: transparent;
  }

  to {
    color: var(--colorSecondaryGrey);
  }
}
