.TitleBar {
  display: flex;
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  height: 40px;
  padding: 0px 8px 0px 8px;
  width: 100%;
  align-items: center;
  align-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  z-index: 3;
  user-select: none;
}

.TitleBar__menuItem .fa {
  font-size: 24px;
  text-align: center;
}

button[disabled].TitleBar__menuItem .fa {
  color: #ccc;
}

.TitleBar__center {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.TitleBar .TitleBar__right,
.TitleBar .TitleBar__left {
  align-items: center;
  display: flex;
  height: 40px;
}

.TitleBar .TitleBar__menuItem {
  color: var(--colorSecondaryGrey);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background: none;
  margin: none;
  border: none;
  outline: none;
}

.TitleBar .TitleBar__menuItem:active,
.TitleBar .TitleBar__menuItem:focus {
  outline: none;
}

.TitleBar .TitleBar__menuItem:hover {
  color: var(--colorBlueBlack);
}

.TitleBar .TitleBar__right .dropdown__trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.TitleBar .TitleBar__right .dropdown.dropdown--active {
  background-color: var(--colorInputGrey);
}

.TitleBar .TitleBar__right .dropdown__content {
  top: 48px;
  right: 0px;
}

.TitleBar .TitleBar__left .dropdown__content {
  left: 0px;
  top: 48px;
}

.TitleBar__logo {
  margin-right: 8px;
}

@keyframes color-flash {
  from {
    color: transparent;
  }

  to {
    color: var(--colorSecondaryGrey);
  }
}
