.Workspace__container.Workspace__container--url {
  box-sizing: border-box;
  padding: 40px 0 40px 0;
  background: var(--colorInputGrey);
  display: flex;
  justify-content: center;
}

.Workspace__container.Workspace__container--url > * {
  height: auto;
  max-width: 1200px;
  background-color: white;
}
.Workspace__container.Workspace__container--url > *::-webkit-scrollbar-track {
  margin: 0;
}

.urlCard {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-sizing: border-box;
  overflow: auto;
  position: relative;
  padding: 12;
  flex: 1 1 auto;
  border: 1px solid var(--colorPaleGrey);
}

.urlCard--workspace {
  height: 100%;
}

.urlCard-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.urlCard-banner > .urlCard-img {
  height: 40px;
  padding: 0 8px 0 8px;
}

.urlCard-banner-title {
  display: flex;
  flex-direction: column;
  font-family: IBM Plex Sans;
  font-size: 10px;
  line-height: 1.2;
  color: #637389;
  justify-self: flex-end;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}

.urlCard-iframe {
  flex: 1;
}

.urlCard-img {
  -webkit-user-drag: none;
  height: 192px;
  display: block;
  object-fit: cover;
  margin-bottom: 12;
  margin-left: -12;
  margin-top: -12;
  margin-right: -12;
}

.urlCard-title {
  font-family: IBM Plex Sans;
  font-size: 18px;
  line-height: 24px;
  color: black;
  text-decoration: none;
  margin-bottom: 12;
  max-height: 72;
  overflow-y: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}

.urlCard-titleAnchor {
  -webkit-user-drag: none;
  color: inherit;
  text-decoration: none;
}

.urlCard-text {
  font-family: IBM Plex Sans;
  font-size: 12px;
  line-height: 16px;
  color: #637389;
  margin-bottom: 12;
  flex: 1;
}

.urlCard-error {
  font-family: IBM Plex Sans;
  font-size: 10px;
  line-height: 1.2;
  color: #637389;
}

.urlCard-link {
  font-family: IBM Plex Sans;
  font-size: 10px;
  line-height: 1.2;
  color: #637389;
  justify-self: flex-end;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}
