:local(.Fullscreen_Banner) {
  background: #f6f6f6;
  position: absolute;
  height: 30px;
  bottom: 0px;
  width: 100%;
  font-size: 12px;
  font-style: medium;
  text-align: center;
  vertical-align: center;
  line-height: 30px;
  color: #b4b4b4;
}

:local(.Embed) {
  border-radius: 3px;
  border: 1px solid black;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

:local(.Embed_ScaleWrapper) {
  transform: scale(0.25);
  transform-origin: 0 0;
}

:local(.Fullscreen) {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

:local(.Fullscreen_IFrame) {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

:local(.Embed_IFrame) {
  overflow: hidden;
  pointer-events: none;
}

.UrlCardWorkspace {
  padding: 0 0 40px 28px;
  background: var(--colorInputGrey);
  box-sizing: border-box;
  height: 100%;
  display: grid;
  grid-template-areas:
    'info info'
    'page buttons';
  grid-template-rows: 40px 1fr;
  grid-template-columns: 1fr auto;
}

.UrlCard {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-sizing: border-box;
  overflow: auto;
  position: relative;
  padding: 12px;
  flex: 1 1 auto;
  border: 1px solid var(--colorPaleGrey);
}

.UrlCard--workspace {
  grid-area: page;
  max-width: 1200px;
  height: 100%;
  padding: 0;
}

.UrlCard-info {
  grid-area: info;
  align-self: center;
  color: var(--colorSecondaryGrey);
}

.UrlCard-iframe {
  height: 100%;
  width: 100%;
}

.UrlCard-buttons {
  grid-area: buttons;
}

.UrlCard-iconLink {
  display: block;
  font-size: 24px;
  text-decoration: none;
  color: var(--colorBlueBlack);
  padding: 0 4px;
  margin-bottom: 10px;
}

.UrlCard-webview {
  flex: 1;
}

.UrlCard-hiddenWebview {
  display: none;
}

.UrlCard-img {
  -webkit-user-drag: none;
  height: 192px;
  display: block;
  object-fit: cover;
  margin-bottom: 12px;
  margin-left: -12px;
  margin-top: -12px;
  margin-right: -12px;
}

.UrlCard-title {
  font-family: IBM Plex Sans;
  font-size: 18px;
  line-height: 24px;
  color: black;
  text-decoration: none;
  margin-bottom: 12px;
  max-height: 72px;
  overflow-y: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}

.UrlCard-titleAnchor {
  -webkit-user-drag: none;
  color: inherit;
  text-decoration: none;
}

.UrlCard-text {
  font-family: IBM Plex Sans;
  font-size: 12px;
  line-height: 16px;
  color: #637389;
  margin-bottom: 12px;
  flex: 1;
}

.UrlCard-error {
  font-family: IBM Plex Sans;
  font-size: 10px;
  line-height: 1.2;
  color: #637389;
}

.UrlCard-link {
  font-family: IBM Plex Sans;
  font-size: 10px;
  line-height: 1.2;
  color: #637389;
  justify-self: flex-end;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}
