.TitleWithSubtitle {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  line-height: 1.2;
  color: #637389;
  justify-self: flex-end;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
  flex: auto;
  width: 0px;
}
