/* Reset Styles: http://meyerweb.com/eric/tools/css/reset/ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* This imports the whole typeface, which is a TON of things */
@import '../node_modules/@ibm/plex/css/ibm-plex.css'

/* App Styles */

div#hashForm {
  background: blue;
  text-align: center;
  width: 3600px;
}

div#hashForm input {
  background: #ffffff;
  width: 100%;
  height: 28px;
  text-align: center;
  color: #444;
  font-size: 14px;
  font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
}

div#hashForm input.loading {
  background-color: #fff2cc;
}


div.board {
  position: absolute;
  background-image: url(grid.svg);
}

div.board::after {
  position: fixed;
  top: 40px;
  right: 5px;
  content: url(pushpinIcon_Standalone.svg)
}

div.card {
  background: #ffffff;
}

div.card.text {
  border-top: 4px solid black;
}

div.card.text.selected {
  outline: 4px solid black;
}

div.card.selected {
  outline: solid 2px #102542;
}

div.card span.cardResizeHandle {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
  background-position: bottom right;
  padding-right: 3px;
  padding-bottom: 3px;
  background-repeat: no-repeat;
  background-origin: content-box;
  cursor: se-resize;
}

div.card {
  box-sizing: border-box;
}

div.card img.image {
  height: 100%;
  width: 100%;
  pointer-events: none;
  user-select: none;
}

div.card.image {
  padding: 4px;
}

div.card.text {
  cursor: text;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

div.card.text div.editorWrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 21px;
}

div.card.text div.renderer {
  box-sizing: border-box;
  width: 100%;
  padding: 21px;
}


/* Markdown Styles: https://simon.lc/sites/markdown/ */

div.renderer a {
  color: #0645ad;
  text-decoration: none;
}

div.renderer a:visited {
  color: #0b0080;
}

div.renderer a:hover {
  color: #06e;
}

div.renderer a:active {
  color: #faa700;
}

div.renderer a:focus {
  outline: thin dotted;
}

div.renderer a:hover, a:active {
  outline: 0;
}

div.renderer h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.25;
  color: #102542;
}

div.renderer h4, h5, h6 {
  font-weight: bold;
}

div.renderer h1 {
  font-size: 2.5em;
}

div.renderer h2 {
  font-size: 2em;
}

div.renderer h3 {
  font-size: 1.5em;
}

div.renderer h4 {
  font-size: 1.2em;
}

div.renderer h5 {
  font-size: 1em;
}

div.renderer h6 {
  font-size: 0.9em;
}

div.renderer p {
  margin: 1.5em 0;
}

div.renderer blockquote {
  color: #666666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #eee solid;
}

div.renderer hr {
  display: block;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
}


div.renderer pre, code, kbd, samp {
  color: #000;
  font-family: 'Courier New', monospace;
  font-size: 0.98em;
}

div.renderer pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

div.renderer b, strong {
  font-weight: bold;
}

div.renderer dfn {
  font-style: italic;
}

div.renderer ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

div.renderer mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

div.renderer sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

div.renderer sup {
  top: -0.5em;
}

div.renderer sub {
  bottom: -0.25em;
}

div.renderer ul, ol {
  list-style-type: disc;
  margin: 1em 0;
  padding: 0 0 0 2em;
}

div.renderer li p:last-child {
  margin: 0;
}

div.renderer dd {
  margin: 0 0 0 2em;
}

div.renderer table {
  border-collapse: collapse;
  border-spacing: 0;
}

div.renderer td {
  vertical-align: top;
}

div.renderer :first-child {
  margin-top: 0;
}

div.renderer :last-child {
  margin-bottom: 0;
}
