
:root {
  --colorBlueBlack: #102542;
  --colorBlack: var(--colorBlack);
  --colorSecondaryGrey: #637389;
  --colorPaleGrey: #D5DFE5;
  --colorInputGrey: #E9EDF0;
  --colorOnline: rgb(113, 227, 65);
  --colorLink: #0645ad;
  --colorDestructive: #F87060;
  --zIndexCard: 1;
}
h1,h2,h3,h4,h5,h6, p, ul, ol, blockquote {
  font-size: .66666rem;
  line-height: 1rem;
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  margin:0;
  padding: 0;
}
/* Homepage */
html {
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
}
body {
  color: #102542;
  margin: 0;
  padding:0 ;
  font-size: 1rem;
  line-height: 1rem;
}

h2 {
  font-size: 1rem;
  line-height: 1.5rem;
}

.container {
  box-sizing: border-box;
  padding: 0 1.5rem;
  max-width: 1116px;
  margin: 0 auto;
}

.Jumbotron {
  max-width: 576px;
  margin: 3rem auto;
}

.Jumbotron__branding {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.Jumbotron__branding h1 {
  font-size: 1rem;
  color: #102542;
  text-transform: lowercase;
}

.Jumbotron__tagline {
  font-size: 1rem;
  text-align: center;
  color: #102542;
  line-height: 1.5rem;
  margin: 0 auto;
}

.Button {
  font-family: 'IBM Plex Sans';
  border-radius: 4px;
  background: #637389;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.Downloads__options {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-around;
}

.Download__options__option {
  flex-shrink: 0;
}

.Download__options__option img {
  display: block;
}

.ImageBadge {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 4px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 auto 1.5rem;
}

.ImageBadge--dark {
  background: #102542;
}

.ImageBadge--blue {
  background: #00adef;
}

.ImageBadge--green {
  background: #388816;
}

.Banner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Banner__label {
  font-size: .66rem;
  margin: 0 1rem;
  color: var(--colorSecondaryGrey);
}

.Banner__wing {
  height: 1px;
  background: #e9edf0;
  flex-grow: 1;
}

.Gallery {
}

.Gallery h2 {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
  max-width: 576px;
  margin: 0 auto;
}

.Gallery img {
  width: 100%;
}

.Features {
  font-size: .666666rem;
  margin: 1rem 0;
}

.Features__list {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-rows: auto;
  grid-gap: 3rem 1.5rem;
}

.Feature {
  display: flex;
}

.Feature .Badge {
  margin-bottom: auto;
}

.Feature__body {
  margin-left: 1rem;
}

.Feature__body__label {
}

.Technology__list {
  font-size: .666666rem;
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  color: #102542;
}

.Technology__list__section {
  width: 25%;
}

.Technology__label {
  margin-bottom: 1rem;;
}

.Footer p {
  font-size: .66666rem;
  margin-top: 2.5rem;
}

.Footer {
  margin: 2.5rem 0 3rem;
}

.Type--primary {
  color: var(--colorBlueBlack);
  font-size: .66666rem;
}
.Type--secondary {
  color var(--colorSecondaryGrey));
}
.Type-tertiary {
  font-size: .5rem;
  line-height: 1rem;
}
.Badge {
  padding: 8px;
  font-size: 24px;
  border-radius: 50%;
  background-color: #D5DFE5;
}

.Badge--blue {
  background: #8edce6;
}

.Badge--red {
  background: #f87060;
}

.Badge--purple {
  background: #c7abff;
}

.Badge--yellow {
  background: #ffe17e;
}

.Badge--green {
  background: #b5e6a1;
}

.Badge--pink {
  background: #ff84cd;
}
