.Avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 33px;
  height: 33px;

  border-radius: 999px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.27);
  padding: 2px;
}

.Avatar > img {
  width: 100%;
  height: 100%;
  border-radius: 999px;
  pointer-events: none;
  object-fit: cover;
}

.Avatar--title-bar {
  width: 28px;
  height: 28px;
  padding: 1px;
}

.Avatar--title-bar:hover::after {
  display: block;
  position: absolute;
  /* border: 2px solid var(--highlight-color, var(--colorOnline)); */
  white-space: nowrap;
  max-width: 204px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  padding: 2px 4px;
  background-color: white;
  border-radius: 4px;
  content: attr(data-name);
  top: calc(100% + 3px);
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  line-height: 16px;
  color: var(--colorBlueBlack);
}

.Avatar--board {
  flex: none;
  width: 60px;
  height: 60px;
}

.Avatar--present {
  border: 2px solid var(--highlight-color, var(--colorOnline));
  box-shadow: 0 0 4px 0 var(--highlight-color, var(--colorOnline));
}
