.Contact-name {
  flex: none;
  margin-right: 8px;
}

.Contact-avatar {
  position: relative;
}

.Contact-status {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 8px;
  width: 8px;
}

.Contact-user {
  display: flex;
}

.Contact-username {
  padding-left: 8px;
  font-size: 12px;
  color: var(--colorBlueBlack);
}
